.Parent-box {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.Foto {
    width: 50%;
    height: 700px;
    background-color: white;
    float: left;
}

.Foto img {
    margin-top: 7%;
    width: 100%;
}

.Deskripsi {
    float: left;
    overflow: hidden;
    width: 50%;
    height: 700px;
    background-color: white;
}

.Deskripsi .Cate {
    margin-top: 100px;
    color: grey;
}

.Deskripsi .Title {
    margin: 0;
}

.Deskripsi .Price {
    font-size: 20px;
    font-weight: 500;
}

.Deskripsi .Info {
    line-height: 1.8;
    color: black;
}

.Deskripsi a {
    margin-top: 20px;
    color: white;
    font-weight: 500;
    background: darkorange;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-radius: 4px;
    transition: all 0.8s;
}

.Deskripsi a:hover {
    color: white;
    background: green;
    transition: all 0.8s;
}